In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 50
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews
Scraping page 21
   ---> 2100 total reviews
Scraping page 22
   ---> 2200 total reviews
Scraping page 23
   ---> 2300 total reviews
Scraping page 24
   ---> 2400 total reviews
Scraping page 25
   ---> 2500 total reviews
Scraping page 26
   ---> 2600 total reviews
Scraping page 27
   ---> 2700 total reviews
Scraping page 28
   ---> 2800 total reviews
Scraping page 29
   ---> 2900 total reviews
Scraping page 30
   ---> 3000 total reviews
Scraping page 31
   ---> 3100 total reviews
Scraping page 32
   ---> 3200 total reviews
Scraping page 33
   ---> 3300 total reviews
Scraping page 34
   ---> 3400 total reviews
Scraping page 35
   ---> 3500 total reviews
Scraping page 36
   ---> 3544 total reviews
Scraping page 37
   ---> 3544 total reviews
Scraping page 38
   ---> 3544 total reviews
Scraping page 39
   ---> 3544 total reviews
Scraping page 40
   ---> 3544 total reviews
Scraping page 41
   ---> 3544 total reviews
Scraping page 42
   ---> 3544 total reviews
Scraping page 43
   ---> 3544 total reviews
Scraping page 44
   ---> 3544 total reviews
Scraping page 45
   ---> 3544 total reviews
Scraping page 46
   ---> 3544 total reviews
Scraping page 47
   ---> 3544 total reviews
Scraping page 48
   ---> 3544 total reviews
Scraping page 49
   ---> 3544 total reviews
Scraping page 50
   ---> 3544 total reviews

In [7]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  Not Verified | Only the second time flying BA ...
1  ✅ Trip Verified | I wasn't going to bother rev...
2  ✅ Trip Verified |  I booked business class tic...
3  ✅ Trip Verified |  I will never travel with Br...
4  ✅ Trip Verified |  I am already in Portugal so...

In [9]:
df.to_csv("BA_reviews.csv")

In [10]:
df1  = pd.read_csv('BA_reviews.csv')

In [11]:
df1

      Unnamed: 0                                            reviews
0              0  Not Verified | Only the second time flying BA ...
1              1  ✅ Trip Verified | I wasn't going to bother rev...
2              2  ✅ Trip Verified |  I booked business class tic...
3              3  ✅ Trip Verified |  I will never travel with Br...
4              4  ✅ Trip Verified |  I am already in Portugal so...
...          ...                                                ...
3539        3539  This was a bmi Regional operated flight on a R...
3540        3540  LHR to HAM. Purser addresses all club passenge...
3541        3541  My son who had worked for British Airways urge...
3542        3542  London City-New York JFK via Shannon on A318 b...
3543        3543  SIN-LHR BA12 B747-436 First Class. Old aircraf...

[3544 rows x 2 columns]

In [12]:
df1.drop('Unnamed: 0', axis = 1, inplace = True)

In [13]:
df1

                                                reviews
0     Not Verified | Only the second time flying BA ...
1     ✅ Trip Verified | I wasn't going to bother rev...
2     ✅ Trip Verified |  I booked business class tic...
3     ✅ Trip Verified |  I will never travel with Br...
4     ✅ Trip Verified |  I am already in Portugal so...
...                                                 ...
3539  This was a bmi Regional operated flight on a R...
3540  LHR to HAM. Purser addresses all club passenge...
3541  My son who had worked for British Airways urge...
3542  London City-New York JFK via Shannon on A318 b...
3543  SIN-LHR BA12 B747-436 First Class. Old aircraf...

[3544 rows x 1 columns]